@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none;
}

.skiptranslate.goog-te-gadget > div > span,
.skiptranslate.goog-te-gadget > span {
  display: none !important;
}

.goog-te-gadget {
  top: 7px;
  position: relative;
  color: transparent !important;
}

.skiptranslate.goog-te-gadget select.goog-te-combo {
  display: block;
  width: unset;
  padding: 3px;
  background: transparent;
  font-family: Montserrat;
  border-radius: 5px;
}

body {
  top: 0 !important;
}

._container {
  max-width: 1920px;
  margin: auto;
}

._btn {
  background-color: transparent;
  border: 4px solid #031422;
  border-radius: 10px;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.82px;
  color: #212121;
  padding: 18px 28px;
  cursor: pointer;
  text-transform: uppercase;
}

/* Start Header */
nav {
  background-color: #ebede8;
}

.nav_list {
  gap: 40px;
}

.nav_link {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.26px;
  color: #031422;
  text-transform: capitalize;
}

.nav_link.active {
  font-weight: 700;
}

/* End Header */

/* Start Main */
#banner {
  background-image: url("./img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 978px;
  display: flex;
  align-items: center;
  padding-left: 245px;
}

.banner_container {
  max-width: 700px;
}

#banner h1 {
  font-size: 58px;
}

#banner h2 {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 400;
  line-height: 80px;
  color: #031422;
}

#banner p {
  font-family: Montserrat;
  font-size: 33px;
  font-weight: 400;
  line-height: 100px;
  color: #031422;
}

#count {
  background-color: #031422;
  padding: 35px 0;
}

.count_number {
  font-family: Montserrat;
  font-size: 58.42px;
  font-weight: 700;
  line-height: 71.22px;
  background: -webkit-linear-gradient(
    134.39deg,
    #ab7c45 5.06%,
    #fcf0c5 115.88%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.count_text {
  font-family: Montserrat;
  font-size: 41.42px;
  font-weight: 400;
  line-height: 50.5px;
  color: #ebede8;
}

#info {
  background-image: url("./img/banner1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 265px 15px;
}

.info_container {
  max-width: 1130px;
  margin: auto;
}

#info h2 {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 400;
  line-height: 100px;
  color: #ebede8;
  text-align: center;
}

#info p {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 39px;
  color: #ffffff;
}

#focuses .row {
  gap: 60px;
}

.focuses_card {
  border-radius: 20px;
  box-shadow: 0px 8px 24px 0px #03142226;
  max-width: 300px;
  min-height: 250px;
  text-align: center;
  margin: auto;
  padding: 50px;
}

.focuses_card img {
  margin-bottom: 40px;
}

#focuses p {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  color: #474747;
}

#focuses,
#contact_us {
  margin-top: 150px;
}

#focuses h2,
#contact_us h2 {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 400;
  line-height: 100px;
  text-align: center;
  color: #031422;
}

#contact_us > form textarea {
  height: 213px;
}

#contact_us > form .form-group {
  margin-top: 35px;
}

#contact_us > form label {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 900;
  line-height: 25.78px;
  color: #1e1e1e;
  margin-bottom: 14px;
}

#contact_us > form input {
  height: 65px;
}

#contact_us > form input,
#contact_us > form select,
#contact_us > form textarea {
  border: 3px solid #d5d5d5;
  padding: 14px 20px;
}

#contact_us > form input::placeholder,
#contact_us > form textarea::placeholder {
  font-family: Roboto;
  font-size: 22.6px;
  font-weight: 400;
  line-height: 35.9px;
  color: #d5d5d5;
}

/* End Main */

/* Start Footer */
footer {
  background: #ebede8;
  margin-top: 100px;
  margin-bottom: 20px;
  display: flex;
  padding: 15px;
}

footer p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  text-align: center;
  color: #031422;
}

/* End Footer */

/* Start Services page */
#services_banner {
  background-image: url("./img/banner2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 978px;
  display: flex;
  align-items: center;
  padding-left: 245px;
  .banner_container {
    max-width: 640px;
  }

  h2 {
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 400;
    line-height: 100px;
    color: #031422;
  }

  p {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
    color: #031422;
  }
}

.services_focuses_card {
  border-radius: 20px;
  box-shadow: 0px 8px 24px 0px #03142226;
  min-height: 250px;
  text-align: center;
  margin: auto;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#services_container .row {
  justify-content: center;
  row-gap: 60px;
}

.services_focuses_card_container {
  margin-top: 40px;
  text-align: center;

  h3 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    color: #474747;
  }

  p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #474747;
    margin-top: 15px;
    text-align: left;
  }
}

/* End Services page */

/* Start Faq page */
#faq_banner {
  display: block;
  text-align: center;
  background-color: #031422;
  padding-top: 120px;
  padding-bottom: 140px;
  color: #ffffff;

  h2 {
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 100px;
  }

  p {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
  }

  form {
    border-radius: 10px;
    background-color: #ffffff;
    margin: 60px auto 0;
    width: 100%;
    max-width: 700px;
    display: flex;
    gap: 5px;
    padding: 20px;

    input,
    input::placeholder {
      border-radius: 10px;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 400;
      line-height: 40px;
      color: #031422;
      width: 100%;
      border: 0;
    }

    input::placeholder {
      padding-left: 0;
    }

    button {
      background-color: transparent;
      border: 0;
    }
  }
}

#faq_section {
  max-width: 850px;
  width: 100%;
  margin: 140px auto;

  #faqTab {
    justify-content: center;
    border: 0;
    margin-bottom: 80px;

    .nav-item {
      .nav-link {
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 400;
        line-height: 36.57px;
        color: #000000;
      }
      .nav-link.active {
        border: 0;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        line-height: 36.57px;
        color: #000000;
        border-bottom: 4px solid;
        border-image-source: linear-gradient(
          134.39deg,
          #ab7c45 5.06%,
          #fcf0c5 115.88%
        );
        border-image-slice: 1;
      }
    }
  }

  .faq_container {
    margin: 0;
    padding: 0;
    list-style: none;

    .faq_item {
      margin-bottom: 10px;
      border-bottom: 2px solid #d9d9d9;

      .faq_question {
        width: 100%;
        padding: 15px;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
        text-align: left;
        color: #000000;
        background-color: transparent;
        border: none;
        text-align: left;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color 0.3s;

        .faq_toggle {
          font-size: 24px;
          font-weight: bold;
          width: 32px;
          height: 32px;
          border: 2px solid #000000;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .faq_question:hover {
        background-color: #f7f7f7;
      }

      .faq_answer {
        display: none;
        padding: 15px;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        background-color: transparent;
      }

      .faq_answer p {
        margin: 0;
        margin-bottom: 20px;
      }
    }
  }
}

/* End Faq page */

/* Start Resource page */
#resource_info {
  margin-top: 120px;
  .col-12 {
    margin-bottom: 120px;
    h3 {
      font-family: Montserrat;
      font-size: 64px;
      font-weight: 400;
      line-height: 100px;
      color: #031422;
    }

    p {
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 400;
      line-height: 40px;
      color: #031422;
    }
  }
}

#resource_operations {
  h2 {
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 100px;
    text-align: center;
    color: #031422;
  }

  #box {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 500px));
    justify-content: center;
    gap: 80px;
    text-align: center;

    img {
      margin-bottom: 30px;
    }

    p {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      text-align: left;
      color: #031422;
      margin-bottom: 30px;
    }
  }
}
/* End Resource page */

/* Start About page */
#about_info {
  margin-top: 120px;
  h2 {
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 400;
    line-height: 100px;
    text-align: center;
    color: #031422;
  }
}

.about_name {
  font-family: Montserrat;
  font-size: 153px;
  font-weight: 800;
  line-height: 200px;
  letter-spacing: 0.07em;
  text-align: left;
  color: #000000;
  position: relative;
  margin-bottom: 80px;
}

.about_text {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #000000;
  margin-bottom: 40px;
}

.about_services_container {
  max-width: 1000px;
}

.about_services_container > h2 {
  margin-top: 160px;
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 400;
  line-height: 100px;
  text-align: center;
  color: #031422;
}

.about_services_container .col-12.col-md-6 {
  max-width: 400px;
}

.about_services_container .row {
  gap: 60px;
}

/* End About page */

/* Start Social Links */
#social {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #031422;
  border-radius: 0px 20px 20px 0px;
  width: max-content;
  padding: 30px 22px 30px 29px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  ul {
    padding: 0;
    margin-bottom: 0;

    li {
      margin-bottom: 30px;
    }

    li:nth-last-child(-n + 1) {
      margin-bottom: 0;
    }
  }
}
/* End Social Links */

/* Start Social Links */
#social {
  z-index: 9;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #031422;
  border-radius: 0px 20px 20px 0px;
  width: max-content;
  padding: 30px 22px 30px 29px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  ul {
    padding: 0;
    margin-bottom: 0;

    li {
      margin-bottom: 30px;
    }

    li:nth-last-child(-n + 1) {
      margin-bottom: 0;
    }
  }
}
/* ENd Social Links */

#contact_us h3 {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 400;
  line-height: 100px;
  text-align: center;
  color: #031422;
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 1200px) {
  .nav_link {
    font-size: 16px;
    line-height: 20px;
  }
  .nav_list {
    gap: 30px;
  }

  .about_name {
    font-size: 108px;
    line-height: 100px;
  }
}
/* lg - For large devices */
@media screen and (max-width: 992px) {
  nav .navbar-brand > img {
    height: 35px;
  }
  .nav_list {
    gap: 0px;
  }

  #banner,
  #services_banner {
    padding-left: 15px;
  }

  #social {
    padding: 15px 10px;

    ul {
      li {
        margin-bottom: 15px;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  #resource_info {
    margin-top: 60px;
    .col-12 {
      margin-bottom: 60px;
      h3 {
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 400;
        line-height: 100px;
        color: #031422;
      }

      p {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
        color: #031422;
      }
    }
  }
  #resource_operations {
    #box {
      grid-template-columns: repeat(1, auto);
      gap: 40px;
    }
  }
}

/* md - For medium devices */
@media screen and (max-width: 768px) {
  #banner h1 {
    font-size: 42px;
    line-height: 55px;
  }
  #banner h2,
  #services_banner h2 {
    font-size: 32px;
    line-height: 55px;
  }
  #banner p,
  #services_banner p {
    font-size: 22px;
    line-height: 55px;
  }

  #info {
    padding: 55px 15px;
  }

  #info h2 {
    font-size: 42px;
  }

  #about_info {
    margin-top: 60px;

    h2 {
      font-size: 48px;
      line-height: 70px;
    }
  }

  .about_name {
    font-size: 60px;
    line-height: 70px;
    text-align: center;
  }

  .about_services_container > h2 {
    margin-top: 80px;
  }
}

/* sm */
@media screen and (max-width: 576px) {
  footer {
    display: grid;
    justify-items: center;
  }
}

/* xs - For small devices */
@media screen and (max-width: 350px) {
}
